In [1]:
import pandas as pd

In [4]:
movies = pd.read_csv("movies.csv")

FileNotFoundError: [Errno 2] File b'movies.csv' does not exist: b'movies.csv'

In [3]:
ratings = pd.read_csv("./ratings.csv")

In [4]:
tags = pd.read_csv("./tags.csv")

In [9]:
del ratings['timestamp']

# 1

In [10]:
avg_ratings = ratings.groupby('movieId',as_index=False).mean()

In [49]:
avg_ratings.head()

   movieId    rating
0        1  3.886649
1        2  3.246583
2        3  3.173981
3        4  2.874540
4        5  3.077291

# 2

In [13]:
del avg_ratings['userId']

In [50]:
avg_ratings.head()

   movieId    rating
0        1  3.886649
1        2  3.246583
2        3  3.173981
3        4  2.874540
4        5  3.077291

# 3

In [18]:
box_office=pd.merge(movies,avg_ratings,how='inner')

In [45]:
box_office.tail()

,movieId,title,genres,rating
53884,193876,The Great Glinka (1946),(no genres listed),3.00
53885,193878,Les tribulations d'une caissière (2011),Comedy,2.00
53886,193880,Her Name Was Mumu (2016),Drama,2.00
53887,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi,2.00
53888,193886,Leal (2018),Action|Crime|Drama,3.25

In [66]:
box_office.iloc[29510]

movieId                           131256
title      Feuer, Eis & Dosenbier (2002)
genres                            Comedy
rating                           2.33333
Name: 29510, dtype: object

# 4

In [48]:
bigger_4 = box_office['rating']>=4
box_office[bigger_4].tail()

,movieId,title,genres,rating
53864,193835,Lavell Crawford: Can a Brother Get Some Love? ...,Comedy,4.50
53868,193843,Raazi (2018),Action|Drama|Thriller,4.00
53880,193868,Dos tipos de cuidado (1953),Comedy|Drama|Romance|Western,4.25
53882,193872,Room Laundering (2018),Drama,4.00
53883,193874,Blondie's Big Moment (1947),Comedy,5.00

# 5

In [23]:
genres_comedy=box_office['genres'].str.contains('Comedy')
box_office[genres_comedy].head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.886649
2,3,Grumpier Old Men (1995),Comedy|Romance,3.173981
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.874540
4,5,Father of the Bride Part II (1995),Comedy,3.077291
6,7,Sabrina (1995),Comedy|Romance,3.371348

# 6

In [46]:
box_office[genres_comedy&bigger_4].tail()

,movieId,title,genres,rating
53845,193795,Forgiving the Franklins (2006),Comedy|Drama|Romance,5.00
53847,193799,Lupin the Third: Daisuke Jigen's Gravestone (2...,Action|Adventure|Animation|Comedy,4.50
53864,193835,Lavell Crawford: Can a Brother Get Some Love? ...,Comedy,4.50
53880,193868,Dos tipos de cuidado (1953),Comedy|Drama|Romance|Western,4.25
53883,193874,Blondie's Big Moment (1947),Comedy,5.00