In [2]:
import pandas as pd

In [3]:
movies=pd.read_csv("/home/jiwoo/Downloads/ml-latest/movies.csv",sep=',')
tags = pd.read_csv("/home/jiwoo/Downloads/ml-latest/tags.csv",sep=',')
ratings = pd.read_csv("/home/jiwoo/Downloads/ml-latest/ratings.csv",sep=',',parse_dates=['timestamp'])
#del tags ['timestamp']
#del ratings ['timestamp']

MemoryError: Unable to allocate array with shape (2, 27753444) and data type int64

## Series

In [17]:
row_0=tags.iloc[0]
row_0

userId       14
movieId     110
tag        epic
Name: 0, dtype: object

In [18]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [19]:
row_0.name

0

In [20]:
row_0=row_0.rename('first_row')

In [21]:
row_0.name

'first_row'

In [22]:
tags.head()

   userId  movieId           tag
0      14      110          epic
1      14      110      Medieval
2      14      260        sci-fi
3      14      260  space action
4      14      318  imdb top 250

In [23]:
tags.index

RangeIndex(start=0, stop=1108997, step=1)

In [24]:
tags.columns

Index(['userId', 'movieId', 'tag'], dtype='object')

### extract row 1, 15, 2000

In [26]:
tags.iloc[[1,15,2000]]

      userId  movieId       tag
1         14      110  Medieval
15        27      260  must see
2000    1040     2671   romance

# 통계적 수치

In [32]:
ratings.head()

   userId  movieId  rating
0       1      307     3.5
1       1      481     3.5
2       1     1091     1.5
3       1     1257     4.5
4       1     1449     4.5

In [34]:
ratings['rating'].describe()

count    2.775344e+07
mean     3.530445e+00
std      1.066353e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

## corr() : 상관계수? 두 값이 얼마나 관계있냐?

corr>0 : 관계있음 corr<0:관계없음 corr=1 같음.

## mode() : 가장 많이 나오는 값

## median() : 중간값
## df.mean(axis=0or1) : axis = 0->열 axis=1->행
## any() : 아무거나 하나만 true면 true

In [35]:
ratings.mean(axis=0)

userId     141942.015571
movieId     18487.999834
rating          3.530445
dtype: float64

In [36]:
ratings.mean(axis=1)

0              103.833333
1              161.833333
2              364.500000
3              420.833333
4              484.833333
5              531.166667
6              531.166667
7              713.166667
8              827.666667
9              948.000000
10             996.500000
11            1008.333333
12            1143.166667
13            1234.166667
14            1276.333333
15            1299.166667
16              58.500000
17             284.833333
18             397.166667
19             413.333333
20             416.333333
21             434.166667
22             556.000000
23             656.000000
24             704.500000
25             749.833333
26             786.000000
27             904.166667
28             917.333333
29             973.500000
                ...
27753414     95530.666667
27753415     95531.333333
27753416     95531.833333
27753417     95539.333333
27753418     95595.500000
27753419     95603.666667
27753420     95709.833333
27753421     95847.000000
27753422     96039.666667
27753423     96075.666667
27753424     96117.500000
27753425     96244.500000
27753426     96278.000000
27753427     96311.666667
27753428     96407.166667
27753429     96536.666667
27753430     96702.000000
27753431     96768.333333
27753432     96774.500000
27753433     96784.333333
27753434     96788.166667
27753435     96815.833333
27753436     97021.333333
27753437     97022.333333
27753438     97153.666667
27753439     97258.166667
27753440     97314.833333
27753441    105879.166667
27753442    109331.166667
27753443    112506.166667
Length: 27753444, dtype: float64

In [39]:
ratings['rating'].min()

0.5

In [40]:
ratings['rating'].max()

5.0

In [41]:
ratings.min()

userId     1.0
movieId    1.0
rating     0.5
dtype: float64

In [42]:
ratings.max()

userId     283228.0
movieId    193886.0
rating          5.0
dtype: float64

In [43]:
ratings[['userId','rating']].min()

userId    1.0
rating    0.5
dtype: float64

In [1]:
ratings['ratings'].mode()

NameError: name 'ratings' is not defined